@model ICI.ProvaCandidato.Dados.Entities.Usuario

<div id="confirmarExclusaoElement" data-message="@TempData["Message"]" type="hidden"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <form asp-controller="Usuarios" asp-action="Criar" method="post" onsubmit="return validarFormularioUsuario()">
                <h1 class="mt-1" style="font-size: 20px;">@(Model.Id == 0 ? "Cadastro" : "Edição")</h1>
                <div class="form-group">
                    <label for="Nome">Nome:</label>
                    <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome">
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Senha">Senha:</label>
                    <input type="password" class="form-control" id="Senha" name="Senha" value="@Model.Senha"  />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email"  />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-sm btn-primary my-2 my-sm-0 form-control form-control-sm">
                            @{
                                var buttonText = Model.Id == 0 ? "Criar usuário" : "Salvar usuário";
                                @Html.Raw(buttonText);
                            }
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-sm btn-success my-2 my-sm-0 form-control form-control-sm" onclick="limparCamposUsuario()">Limpar Campos</button>
                    </div>
                </div>

                <div class="form-group">
                    <a class="btn btn-sm btn-secondary my-2 my-sm-0 form-control form-control-sm" asp-action="Usuarios" data-toggle="tooltip" title="Cancelar">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_CustomConfirm");
    }
}